<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sketch</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <div class="all" id="app">
    <div class="control-panels">

      <!-- Navigation -->
      <div class='nav-panel'>
        <div class='side-bar-text'>
          <h1> coördinator </h1>
          <p>Turn an SVG into XY coördinates.
            <br /> Made by <a href='https://twitter.com/alizauf'>Aliza Aufrichtig</a> @ <a
              href='https://www.spotify.com'>Spotify</a>
          </p>
        </div>
        <ol>
          <li :class='step === 1 ? "selected-step": "non-selected-step"' @click='step = 1'>
            Import SVG
          </li>
          <li :class='step === 2 ? "selected-step": "non-selected-step"' @click='step = 2'>
            Refine Dots
          </li>
          <li :class='step === 3 ? "selected-step": "non-selected-step"' @click='step = 3'>
            Get Coördinates
          </li>

        </ol>

        <ol class='credits-placer'>
          <li class='credits' :class='step === 4 ? "selected-step": "non-selected-step"' @click='step = 4'>
            why this exists, thanks & credits
          </li>
        </ol>
      </div>

      <div class="active-step-panel">
        <!-- Svg input -->
        <div class='step-1' :class='step === 1 ? "d-block" : "d-none"'>
          <h2>Import SVG</h2>
          <label for="file-upload" class="custom-file-upload">
            Select File
          </label>
          <div class="img-fluid" id="svg-content"></div>
          <input id="file-upload" type="file" onchange="sketch.tryYourSvg(this)" />
          <p class='smaller-paste'>or paste SVG text file below</p>
          <div :style='{stroke: error ? "#EB1E32" : "#F037A5"}' ref="svgHolder" id='svg-holder'>
            {{svg}}
          </div>


          <p v-if="error" class='nestpas'>Error: Ceci n'est pas une SVG</p>

          <div class='cm-input' ref="code-mirror-input">

            <div v-if="svgTextError" class='svg-text-error'>
              <p>Yikes! There is a problem with your SVG text file. Try again.</p>
            </div>
          </div>
          <h3>...or try an example</h3>
          <textarea id="coord-content" class="form-control" rows="10"></textarea>

          <div class='example-container'>
            <!-- {{#each Object.keys(examples) as example }}
            <button on:click='setNewSVG(examples[example], true, example)' class='dot-button {{selectedExample === example ? "selected-dot-button" : ""}}'>{{{examples[example]}}}</button>
             {{/each}} -->
          </div>
          <p>Find more SVGs at the <a target='_blank' href="https://thenounproject.com">Noun Project<img class='icon'
                alt='link out' src='../src/static/images/link-out.svg' /></a></p>
        </div>

        <!-- <div class='step-2' style='display: {{step === 2 ? "block" : "none"}}'>
          <h2>Refine Dots</h2>

          <p class='slider-text'><strong>Number of points:</strong>
            <input class='adjust' type='text' bind:value='numPoints' />
          </p>
          <input type='range' min='1' max='5000' bind:value='numPoints' />

          <p class='slider-text'><strong>Scale:</strong>
            <input class='adjust' type='text' bind:value='scale' />
          </p>
          <input type='range' min='1' max='100' bind:value='scale' />

          <p class='slider-text'><strong>Translate X:</strong>
            <input class='adjust' type='text' bind:value='translateX' />
          </p>
          <input type='range' min='1' max='1000' bind:value='translateX' />

          <p class='slider-text'><strong>Translate Y:</strong>
            <input class='adjust' type='text' bind:value='translateY' />
          </p>
          <input type='range' min='1' max='1000' bind:value='translateY' />

          <p class='slider-text'><strong>Dot radius:</strong>
            <input class='adjust' type='text' bind:value='radius' />
          </p>
          <input type='range' min='1' max='100' bind:value='radius' />


          <p><strong>Color:</strong>
            <input class='color-picker' type="color" bind:value='color' /><a on:click='set({color: "random"})'><span
                style='color: {{confetti()}}'>C</span><span style='color: {{confetti()}}'>o</span><span
                style='color: {{confetti()}}'>n</span><span style='color: {{confetti()}}'>f</span><span
                style='color: {{confetti()}}'>e</span><span style='color: {{confetti()}}'>t</span><span
                style='color: {{confetti()}}'>t</span><span style='color: {{confetti()}}'>i</span><span
                style='color: {{confetti()}}'>!</span></a>
          </p>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button on:click='set({coordType: "outline"})' type="button"
              class="btn btn-stroked-dark data-format-but {{coordType === 'outline' ? 'dark-selected' : 'non-selected'}}">Outline</button>
            <!-- <button type="button" class="btn btn-stroked-dark">Middle</button> -->
            <button on:click='set({coordType: "inside"})' type="button"
              class="btn btn-stroked-dark data-format-but {{coordType === 'inside' ? 'dark-selected' : 'non-selected'}}">Fill</button>
          </div>

          <p class='small'>Note: Fill mode works best with very simple SVGs.</p>
        </div> -->
      </div>
    </div>
    <div id='canvasHolder' class='image-preview d-flex align-items-center justify-content-center'></div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="helpers/pathologist.js"></script>
  <script src="libraries/p5.min.js"></script>
  <script src="libraries/p5.sound.min.js"></script>
  <script src="helpers/d3-array.js"></script>
  <script src="helpers/ct.js"></script>
  <script src="helpers/complex.js"></script>

  <script src="helpers/coordinates.js"></script>
  <script src="sketch.js"></script>

  <script>
    const { createApp, ref } = Vue;

    const app = createApp({
      setup() {
        const step = ref(1)
        const svg = ref(null)
        const coordinates = ref([])
        const error = ref(null)
        const svgTextError = ref(null)
        return { step, svg, coordinates, error, svgTextError }
      },
      mounted() {

      },
    })
    app.mount('#app')
  </script>
</body>

</html>