<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sketch</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <div class="all" id="app">
    <div class="control-panels">

      <!-- Navigation -->
      <div class='nav-panel'>
        <div class='side-bar-text'>
          <h1>coördinator </h1>
          <p>Turn an SVG into XY coördinates.
            <br /> Made by <a href='https://twitter.com/alizauf'>Aliza Aufrichtig</a> @ <a
              href='https://www.spotify.com'>Spotify</a>
          </p>
        </div>
        <ol>
          <li :class='step === 1 ? "selected-step": "non-selected-step"' @click='step = 1'>
            Import SVG
          </li>
          <li :class='step === 2 ? "selected-step": "non-selected-step"' @click='step = 2'>
            Refine Dots
          </li>
          <li :class='step === 3 ? "selected-step": "non-selected-step"' @click='step = 3'>
            Get Coördinates
          </li>

        </ol>

        <ol class='credits-placer'>
          <li class='credits' :class='step === 4 ? "selected-step": "non-selected-step"' @click='step = 4'>
            why this exists, thanks & credits
          </li>
        </ol>
      </div>

      <div class="active-step-panel">
        <!-- Svg input -->
        <div class='step-1' :class='step === 1 ? "d-block" : "d-none"'>
          <h2>Import SVG</h2>
          <hr>
          <div v-show="svg">
            <div class="d-flex justify-content-center align-items-center d-none" id="svg-content"></div>
            <div class="d-flex justify-content-center align-items-center" id="svg-content-org"></div>
            <hr>
          </div>
          <label for="file-upload" class="custom-file-upload">
            Select File
          </label>

          <input id="file-upload" type="file" @change="handleFile" />
          <div :style='{stroke: error ? "#EB1E32" : "#F037A5"}' ref="svgHolder" id='svg-holder'></div>

          <hr>
          <div class="form-floating">
            <textarea id="coord-content" v-model="svg" class="form-control" style="height: 200px">{{svg}}</textarea>
            <label for="floatingTextarea2">or paste SVG text file below</label>
          </div>
          <hr>
          <h3>...or try an example</h3>
          <div class='example-container'>
            <!-- {{#each Object.keys(examples) as example }}
            <button on:click='setNewSVG(examples[example], true, example)' class='dot-button {{selectedExample === example ? "selected-dot-button" : ""}}'>{{{examples[example]}}}</button>
             {{/each}} -->
          </div>
          <hr>
          <p>Find more SVGs at the <a data-bs-toggle="modal" @click="selectedApi=0" data-bs-target="#api-modal">Noun Project</a>
            or <a data-bs-toggle="modal" @click="selectedApi=1" data-bs-target="#api-modal">Wikimedia Commons</a></p>
        </div>

        <div class='step-2' :class="step==2?'d-block':'d-none'">
          <h2>Refine Dots</h2>

          <fieldset :disabled="!svg">
            <div class="row">
              <label class="col-8 col-form-label" for="">Number of points:</label>
              <div class="col-4">
                <input class='form-control' type='text' v-model='svgInstance.waveCount' />
              </div>
              <div class="col-12">
                <input class="form-range" type='range' min='1' max='5000' v-model='svgInstance.waveCount' />
              </div>
            </div>
            <hr>

            <div class="row">
              <label class="col-8 col-form-label" for="">Scale:</label>
              <div class="col-4">
                <input class='form-control' type='text' v-model='svgInstance.scale' />
              </div>
              <div class="col-12">
                <input class="form-range" type='range' min='1' max='10' v-model='svgInstance.scale' />
              </div>
            </div>
            <hr>

            <div class="row">
              <label class="col-8 col-form-label" for="">TranslateX:</label>
              <div class="col-4">
                <input class='form-control' type='text' v-model.number='svgInstance.transform.x' />
              </div>
              <div class="col-12">
                <input class="form-range" type='range' min='1' :max='svgInstance.canvas.width' step="1"
                  v-model.number='svgInstance.transform.x' />
              </div>
            </div>
            <hr>

            <div class="row">
              <label class="col-8 col-form-label" for="">TranslateY:</label>
              <div class="col-4">
                <input class='form-control' type='text' v-model.number='svgInstance.transform.y' />
              </div>
              <div class="col-12">
                <input class="form-range" type='range' min='1' :max='svgInstance.canvas.height' step="1"
                  v-model.number='svgInstance.transform.y' />
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-12">
                <div class="form-check">
                  <input class='form-check-input' type="checkbox" v-model='svgInstance.seperate' />
                  <label class="form-check-label" for="">Seperate</label>
                </div>
                <div class="form-check">
                  <input class='form-check-input' type="checkbox" v-model='svgInstance.options.show.grid' />
                  <label class="form-check-label" for="">Grid</label>
                </div>
                <div class="form-check">
                  <input class='form-check-input' type="checkbox" v-model='svgInstance.options.show.axis' />
                  <label class="form-check-label" for="">Coordinate axis</label>
                </div>
                <div class="form-check">
                  <input class='form-check-input' type="checkbox" v-model='svgInstance.options.show.coordinate' />
                  <label class="form-check-label" for="">Show coordinates</label>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <label class="col-6 col-form-label" for="">Drawing type:</label>
              <div class="col-6 d-flex align-items-center">
                <label class="form-check-label" for="flexCheckDefault">
                  Line
                </label>
                <div class="form-check form-switch justify-content-between m-0 ms-2">
                  <input class="form-check-input" type="checkbox" role="switch"
                    v-model="svgInstance.options.dots.active" id="flexCheckDefault">
                </div>
                <label class="form-check-label" for="flexCheckDefault">
                  Dots
                </label>
              </div>
            </div>
            <hr>

            <div v-if="svgInstance.options.dots.active" class="row">
              <label class="col-8 col-form-label" for="">Dot radius:</label>
              <div class="col-4">
                <input class='form-control' type='text' v-model='svgInstance.options.dots.radius' />
              </div>
              <div class="col-12">
                <input class="form-range" type='range' min='1' max='25' step="1"
                  v-model='svgInstance.options.dots.radius' />
              </div>
            </div>

            <div class="row">
              <label class="col-8 col-form-label" for="">Color:</label>
              <div class="col-4">
                <input class='color-picker' type="color" @change='svgInstance.options.color = $event.target.value' />
              </div>
              <div class="col-12">
                <div class="d-grid gap-2">
                  <a @click='svgInstance.options.color="random"' class="btn btn-primary fw-bold">
                    <span :style="{color:confetti()}">C</span>
                    <span :style="{color:confetti()}">o</span>
                    <span :style="{color:confetti()}">n</span>
                    <span :style="{color:confetti()}">f</span>
                    <span :style="{color:confetti()}">e</span>
                    <span :style="{color:confetti()}">t</span>
                    <span :style="{color:confetti()}">t</span>
                    <span :style="{color:confetti()}">i</span>
                    <span :style="{color:confetti()}">!</span>
                  </a>
                </div>
              </div>
            </div>

          </fieldset>

        </div>
      </div>
    </div>
    <div id='canvasHolder' class='image-preview d-flex align-items-center justify-content-center'></div>

    <div id="api-modal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-html="getApi.title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body position-relative">
            <div class="row g-2">
              <div class="col-10">
                <input type="search" id="query" name="query" v-model="getApi.query" class="form-control"
                  aria-describedby="passwordHelpBlock">
              </div>
              <div class="col-2">
                <div class="d-grid gap-2">
                  <button :disabled="getApi.loading" @click="search()" class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
            <hr>
            <div :class="getApi.samples.length > 0 ? 'position-absolute' : ''" id="loading" v-if="getApi.loading">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div v-if="getApi.samples.length > 0" class="row g-3 justify-content-center">
              <div v-for="sample in getApi.samples" :key="sample.id" class="col-auto">
                <div class="card" style="width: 12rem;">
                  <img :src="sample.thumbnail_url" class="card-img-top" :alt="sample.attribution">
                  <div class="card-body">
                    <h5 class="card-title">{{sample.attribution}}</h5>
                    <p class="card-text">{{sample.creator.name}}</p>
                    <div class="d-grid gap-2">
                      <button :disabled="getApi.loading || sample.id == getApi.selected" class="btn btn-primary" @click="select(sample.id)">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-start">
            <p v-html="getApi.info"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed d-flex justify-content-end bottom-0 p-4 w-100">
      <div id="error-toast" class="toast align-items-center text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
           {{error}}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    
  </div>
</body>
<script src="/main.js"></script>
<script src="/api.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/helpers/pathologist.js"></script>
<script src="/libraries/p5.min.js"></script>
<script src="/libraries/p5.sound.min.js"></script>
<script src="/helpers/d3-array.js"></script>
<script src="/helpers/ct.js"></script>
<script src="/helpers/complex.js"></script>

<script src="helpers/coordinates.js"></script>
<script src="sketch.js"></script>

<script>
  const { createApp, ref } = Vue;

  const app = createApp({
    setup() {
      const api = ref(apiList)
      const selectedApi = ref(0)
      const toast = ref(null)
      const step = ref(1)
      const svg = ref(null)
      const coordinates = ref([])
      const error = ref(null)
      const svgTextError = ref(null)
      const svgInstance = ref(sketchData)
      const modal = ref(null)

      return { step, svg, coordinates, error, svgTextError, svgInstance, api, selectedApi, toast, modal }
    },

    computed: {
      getApi() {
        return this.api[this.selectedApi]
      }
    },

    watch: {
      svg(newVal, oldValue) {
        sketch.coordinates(newVal).mount()
      },

      svgInstance: {
        handler(val) {
          sketch.coordinates(this.svg).mount()
        },
        deep: true
      },

      error(v) {
        if(!v) {
          this.toast.hide()
        } else {
          this.toast.show()
        }
      }
    },

    mounted() {
      this.modal = new bootstrap.Modal(document.getElementById("api-modal"))
      this.toast = bootstrap.Toast.getOrCreateInstance(document.getElementById('error-toast'))
    },

    methods: {
      handleFile(e) {
        try {
          const reader = new FileReader()
          reader.onload = e => {
            if (e.target.result) {
              this.svg = e.target.result
            } else throw new Error("File content is empty or isn't readable")
          }

          reader.onerror = e => {
            throw new Error(e)
          }

          reader.readAsText(e.target.files[0])

        } catch (e) {
          this.error = e.message
        }
      },

      b64DecodeUnicode(str) {
        return decodeURIComponent(atob(str).split('').map(function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
      },

      async search(more = false) {
        await this[this.getApi.search](more)
      },

      async select(id) {
        await this[this.getApi.get](id)
      },

      async searchFromNounApi(more) {
        try {
          this.error = null
          this.getApi.loading = true
          const request = await fetch(`https://kale.eu5.org/index.php?api=${this.getApi.name}&action=search`, {
            method: 'POST',
            body: JSON.stringify({ query: this.getApi.query })
          })

          const response = await request.json()

          if(!request.ok) throw new Error(response.message);

          if (more)
            this.getApi.samples.push(...response.icons)
          else
            this.getApi.samples = response.icons


        } catch (e) {
          this.error = e.message ?? e
        } finally {
          this.getApi.loading = false
        }
      },


      async selectFromNounApi(id) {
        try {
          this.error = null
          this.getApi.loading = true;
          this.getApi.selected = id;

          const request = await fetch(`https://kale.eu5.org/index.php?api=${this.getApi.name}&action=get`, {
            method: 'POST',
            body: JSON.stringify({ id: this.getApi.selected })
          })

          const response = await request.json()

          if(!request.ok) throw new Error(response.message);

          const getApiSvg = await fetch(response.icon.icon_url)

          const svgData = await getApiSvg.text()
          this.svg = svgData
          this.modal.hide()


        } catch (e) {
          this.error = e.message ?? e
        } finally {
          this.getApi.loading = false;
        }
      },

      async searchFromCommonsApi(more) {
        try {
          this.error = null
          this.getApi.loading = true
          const request = await fetch(`https://kale.eu5.org/index.php?api=${this.getApi.name}&action=search`, {
            method: 'POST',
            body: JSON.stringify({ query: this.getApi.query })
          })

          const response = await request.json()

          if(!request.ok) throw new Error(response.message);

          if (more)
            this.getApi.samples.push(...response)
          else
            this.getApi.samples = response


        } catch (e) {
          console.log(e)
          this.error = e.message ?? e
        } finally {
          this.getApi.loading = false
        }
      },


      async selectFromCommonsApi(url) {
        try {
          this.error = null
          this.getApi.loading = true;
          this.getApi.selected = url;
          console.log(url)
          const getApiSvg = await fetch(url)

          const svgData = await getApiSvg.text()
          this.svg = svgData
          this.modal.hide()


        } catch (e) {
          this.error = e.message ?? e
        } finally {
          this.getApi.loading = false;
        }
      },

      confetti() {
        return `rgb(${Math.round(Math.random() * 255)}, ${Math.round(Math.random() * 255)}, ${Math.round(Math.random() * 255)})`;
      }
    },
  })
  app.mount('#app')


</script>

</html>